<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/login.js"></script>
</head>
<header class="width">
    <h1 class="notify">Notify</h1>
    <h2 id="currentNeighborhood" class="neighborhood">{{current}}</h2>
    <section id="userInfo">
        <p id="currentUser" style="display: none" class = "userSmall">@{{user.username}}</p>
        <input id="userId" type="hidden" value="{{user.id}}"/>
        {{!-- current user ^ --}}
        <p style="display: none"  class = "userSmall">
          <img id = "home" src="https://i.postimg.cc/MGHx62gD/69524.png" alt="Home Icon">{{user.neighborhood}}
        </p>
    </section> 
</header>
<body>
{{{ body }}}
</body>

</html>