<header class = "width">
    <h1>Notify</h1>
    <h2>{{city}}</h2>
    <p>@{{username}}</p>
    <p>home: {{neighborhood}}</p>
</header>
<main>
<section id = "cityInfo">
    {{!-- neighborhood info --}}
</section>

{{!-- create forum posts --}}
<div class = "width, createPost">
<div>{{user}}</div>
{{!-- current user^ --}}
<input id = "newTitle" class = "title" placeholder="Subject"></input>
<textarea rows = "4" id = "newPost"></textarea>
<button id = "submitBtn"type = "submit">Post</button>
</div>

{{!-- post forum posts --}}
<section class = "width forum">
    {{#each post}}
    <p class = "title">{{this.title}}</p>
    <div class = "username">@{{this.user}}</div>
    <div class = "post">{{this.text}}</div>
    <div class = "likes">
        {{!-- find image and add to files --}}
        {{this.likes}} <img src="../../utils/imgs/like.png" alt="Like Icon"></div>
    {{/each}}
    {{#each user}}
    {{#each text}}
    {{#each title}}
    {{#each likes}}
    {{/each}}
    {{/each}}
    {{/each}}
    {{/each}}
</section>
</main>