<main>
    {{!-- <section id="cityInfo">
    </section> --}}
    <div id="button">
        <button id="changeCity"><a href="/map">Change Cities</a></button>
    </div>
    {{!-- create forum posts --}}
    <div class="width createPost">
        <input id="newTitle" class="width" placeholder="Subject"></input>
        <textarea rows="3" class="width" id="newPost" placeholder="What would you like to tell "
            {{current}}"?""></textarea>
        <button id="postBtn" type="submit">Post</button>
    </div>

    {{!-- post forum posts --}}
    <section id="postContainer">
        {{#each posts}}
        <section class = " forum">
        <p class="title">{{this.dataValues.title}}</p>
        {{!-- <div class="username">@{{this.dataValues.author}}</div> --}}
        <div class="post">{{this.dataValues.text}}</div>
        <div class="taskBar">
            <div class="likes">
                {{this.dataValues.likes}}
                <button class="likeBtn">
                    <img src="https://i.postimg.cc/Zqyx30dD/like.png" alt="Like Icon" class="likeImg">
                </button>
            </div>
        </div>
        </section>
        {{/each}}
    </section>
    {{!-- <section id = "search">
            <input type="text" id = "
            searchbar">
            <div>
                <p>Commonly Searched</p>
                <button class = "comSearch"id = "events">#events</button>
                <button class = "comSearch"id = "garageSale">#garagesale</button>
                <button class = "comSearch"id = "lostDog">#lostdog</button>
                <button class = "comSearch"id = "crimeWatch">#crimewatch</button>
                <button class = "comSearch"id = "freeStuff">#freestuff</button>
            </div>
    </section> --}}
</main>
<footer>
    <small>All Rights Reserved © 2020</small>
</footer>
{{!-- <script type="text/javascript" src="js/forum.js"></script> --}}
<script type="text/javascript" src="/js/post.js"></script>
